@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding-bottom: 80px;
}

.container .content{
    width:500px;
    text-align: center;
}

.container .content h3{
  font-size: 5vw;
  text-transform: uppercase;  
}

.container .content p{
    font-size: 20px;
    padding:10px 0 ;
}

.container .content p span{
    color: crimson;
}

.container .content .logout{
    display: inline-block;
    margin-top: 10px;
    background: #000;
    color: #fff;
    padding: 10px 35px;
    font-size: 20px;
}

.container .content .logout:hover{
    
    background: crimson;
}


.form-container{
    min-height: 100vh;
    display: flex;
    align-items:last baseline;
    justify-content: center;
    background: black;
    padding-bottom: 5%;
   
}

.form-container form{
    text-align: center;
    width: 400px;
    min-height: 200px;
    max-height: 400px;
    background: #d88383;
    border:2px solid #bb184b;
    padding: 10px;
}

.form-container form h3{
    font-size: 20 px;
    text-transform: uppercase;
}

.form-container form .box{
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    font-size: 15px;
    border:2px solid #bb184b;
    margin: 5px 0;
}

.form-container form .form-btn{
    display: block;
    margin-top: 10px;
    background: #bb184b;
    color: #000000;
    padding: 1px 5px;
    font-size: 20px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.form-container form .form-btn:hover{
    background: crimson;
}

.form-container form p{
    font-size: 15px;
    padding-top: 10px;
}

.form-container form p a{
    font-weight: bold;
    font-size: 20px;
    color: #bb184b;
}

.form-container form p a:hover{
   color: crimson;
}


/*****Navigation*****/
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background-color: black;
    padding: 20px;
}

.sidebar .logo img{
    width: 130px;
}

.sidebar .navigation ul{
    list-style: none;
    margin-top: 25px;
}

.sidebar.navigation ul li{
    padding: 10px 0px;
}

.sidebar .navigation ul li a{
    color: rgb(186, 9, 94);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
   
}

.sidebar .navigation ul li .fa{
    font-size: 15px;
    margin-right: 10px;
}

.sidebar .navigation ul li a:hover{
    color: white;
}



/* playing music */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255,26,26,0.22);
}

.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}

.music-player p{
    font-size: 14px;
    color: #333;
}